.slideshow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.each-slide > img {
    min-width: 100%;
    max-height: 350px;
    overflow: scroll;
}

.indicators {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.indicator {
    background-color: #2e2e2e;
    border: 1px solid #2e2e2e;
    border-style: groove;
    padding: 1rem 1rem;
    cursor: pointer;
}

.indicators > .active {
    background-color: #ff7948;
    color: #ff7948;
    font-weight: bolder;
    border-style: double;
}