/* Universal Styles */

html {
  font-size: 18px;
  background-color: black;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

/* App Styles */

.App {
  font-family: 'Work Sans', sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 90%;
  margin: 0 auto;
}

.SearchBar {
  border: 1px solid white;
  border-radius: 1rem;
  margin: 1rem 0;
}